<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="utf-8" />
		<title>{{entry.title}}</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
		/>
		<meta name="referrer" content="origin-when-cross-origin" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;600;800&display=swap" rel="stylesheet">
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/assets/css/custom.css" />
	</head>

	{% include "layout/header" %}

	<body class="ltr">
		<main class="container">
		{% block content %}
		{% endblock %}
		</main>
	</body>
</html>
