{% extends "layout"%} 

{% block content %}

{% set result = gql('{
	entries (section: "news", orderBy: "dateCreated asc") {
		title
		url
		header
		summaryText
		... on news_imagePost_Entry {
			image {
				url
			}
		}
	}
}') %}

{% set localeParts = craft.app.language | split('-') %}
{% set locale = localeParts[0] %}
	  
<div id="app">
	
	<news-article-app :news-articles="{{ result.data.entries | json_encode }}" />

</div>

<script src="/assets/js/runtime.bundle.js"></script>
<script src="/assets/js/app.bundle.js"></script>

{% endblock %}
